.container {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    max-height: 500px;
    gap: 3rem;
    align-items: center;
}


.leftCard {
    width: 25rem;
}

.rightCard {
    width: 25rem;
}

.mediaWrap {
    border: 1px none;
    border-radius: 2rem;
}

.rightTextCardContainer {
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.leftTextCardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}

.title {
    letter-spacing: 0.025em;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
}

.description {
    font-size: 1.25rem;
    letter-spacing: 0.025em;
    font-weight: 400;
}

.centerDescription {
    font-size: 1rem;
    letter-spacing: 0.025em;
    font-weight: 400;
}

.videoPlayer {
    width: 22rem !important;
    height: 400px !important;
}

.image {
    transition: transform 0.6s;
    width: 400px;
    height: 400px;
    object-fit: contain;
}

/* single card css */
.cardContainer {
    display: flex;
    justify-content: start;
    padding-left: 22rem;
}

.centerCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80%
}

.centerTextCardContainer {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 1000px;
}


@keyframes flipIn {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0);
    }
}

@keyframes flipOut {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(180deg);
    }
}

.flip-enter {
    animation: flipIn 0.6s forwards;
}

.flip-exit {
    animation: flipOut 0.6s forwards;
}


/* tablet */
@media only screen and (min-device-width : 767px) and (max-device-width : 1080px) {
    .right {
        min-width: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .leftTextCardContainer {
        margin-top: unset;
    }

    .description {
        width: unset;
    }

    .left {
        min-width: unset;
    }

    .leftCard {
        width: unset;
    }

    .rightCard {
        width: unset;
        align-self: center;
    }

    .tabContainer {
        padding: 2rem;
    }

    .image {
        width: 1000px;
    }

    .cardContainer {
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
    }
    .videoPlayer {
        width: 18rem !important;
    }

    .container {
        max-height: unset;
        margin-bottom: unset;
        gap: 2rem;
        width: 100%;
    }

    .centerTextCardContainer {
        width: unset;
        padding: 2rem;
    }
}

/* mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .right {
        min-width: unset;
        width: 100%;
    }

    .description {
        width: unset;
    }

    .left {
        min-width: unset;
        margin-top: unset;
    }

    .title {
        font-size: 2.5rem;
    }

    .leftCard {
        width: unset;
    }

    .rightCard {
        width: unset;
        float: unset;
    }

    .tabContainer {
        margin-left: unset;
        margin-right: unset;
    }

    .cardContainer {
        display: flex;
        padding-left: 0rem;
    }

    .container {
        flex-direction: column;
        margin-bottom: 27rem;
        gap: 2rem;
    }

    .leftTextCardContainer {
        margin-right: unset;
        margin-top: unset;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    .rightTextCardContainer {
        margin-left: unset;
        margin-top: unset;
    }

    .mediaWrap {
        display: flex;
        justify-content: center;
    }
    .videoPlayer {
        width: 18rem !important;
    }

    .centerTextCardContainer {
        width: unset;
        padding: 2rem;
    }
}


/* Tablet devices (768px - 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .cardContainer {
        padding: 2rem;
    }

    .centerTextCardContainer {
        width: unset;
        padding: 2rem;
    }

    /* Additional styles for .center and .text can be added if needed */
}