@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imageContainer {
  position: relative;
  width: 400px; /* Adjust size as needed */
  height: 400px; /* Adjust size as needed */
  overflow: hidden; /* Ensure the image doesn't overflow the container */
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
}

.fadeOut {
  animation: fadeOut 1s forwards;
}

.fadeIn {
  animation: fadeIn 1s forwards;
}

/* Mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
  .imageContainer {
    width: 200px;
    height: 250px;
  }
}

/* Tablet devices (768px - 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .imageContainer {
    width: 200px;
  }
}