.rippleButton {
    background-color: black; /* Tint of #cdb5ff */
    color: white;
    border: 2px solid black; /* Stylish border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px; /* Padding for the button */
    font-size: 30px; /* Font size */
    font-weight: 600;
    cursor: pointer;
    outline: none; /* Remove default button outline */
    width: 300px; /* Increased width */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.rippleButton:hover {
    background-color: rgb(16, 16, 16); /* Lighter tint on hover */
    border-color: #0e0c1a; /* Darker border on hover */
}

/* Ripple effect animation */
.rippleEffect {
    position: relative;
    overflow: hidden;
}

.rippleEffect::after {
    content: '';
    position: absolute;
    border-radius: 10%;
    background-color: #06060655; /* Ripple effect color with transparency */
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rippleAnimation 0.6s linear;
}

@keyframes rippleAnimation {
    to {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}