.rippleButton {
    background-color: #cdb5ffbf; /* Tint of #cdb5ff */
    color: white;
    border: 2px solid #a690ff; /* Stylish border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px; /* Padding for the button */
    font-size: 16px; /* Font size */
    cursor: pointer;
    outline: none; /* Remove default button outline */
    width: 200px; /* Increased width */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.rippleButton:hover {
    background-color: #b39effbf; /* Lighter tint on hover */
    border-color: #8a6eff; /* Darker border on hover */
}

/* Ripple effect animation */
.rippleEffect {
    position: relative;
    overflow: hidden;
}

.rippleEffect::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff55; /* Ripple effect color with transparency */
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rippleAnimation 0.6s linear;
}

@keyframes rippleAnimation {
    to {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}