.section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 5rem;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.left {
    width: 50%;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.header {
    padding-bottom: 1rem;
}

.title {
    letter-spacing: 0.025em;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
}

.desc {
    font-size: 1.25rem;
    letter-spacing: 0.025em;
    font-weight: 400;
}


/* Media Queries */
@media screen and (max-width: 768px) {

    .section {
        padding: 2rem;
    }
    .container {
        flex-direction: column;
        gap: 2rem;
    }

    .left {
        width: 100%;
    }

    .title {
        font-size: 2rem;
    }

    .right {
        width: unset;
    }

}

@media screen and (max-width: 480px) {}