.section {
    min-height: 600px;
    padding-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3.5rem;
    gap: 1rem;
}

.title {
    font-weight: 800;
    font-size: 3rem;
}

.desc {
    font-size: 24px;
    color: black;
}

.items {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
}

.image {
    animation: slideIn 0.5s forwards;
    width: 96px;
    height: 96px;
    object-fit: cover;
}

.listItem {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

@keyframes slideIn {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .titleContainer {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .items {
        flex-direction: column;
    }

    .circle {
        width: 150px;
        height: 150px;
    }

    .desc {
        text-align:justify;
        letter-spacing: unset;
        font-size: 19px;
    }

    .listItem {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 2rem;
    }

    .circle {
        width: 120px;
        height: 120px;
    }

    .listItem {
        font-size: 24px;
        text-align: center;
    }
}
